


.logo {
  max-width: 600px;
  margin: auto;
  cursor: pointer;
  img {
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}