@keyframes randompopup {
  0% {
    top: 0;
  }
  20% {
    top: -50%;
  }
  100% {
    top: -50%;
  }
}


.mint_container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
  a#mint_button {
    flex-grow: 1;
    max-width: 400px;
    padding: 30px 20px 30px 20px;
    text-align: center;
    background: #5b7847;
    font-family: chevy-vector;
    font-size: 22px;
    text-decoration: none;
    border-radius: 5px;
    transition: 10ms;
    position: relative;

    &:link, &:visited {
      color: white;


    }
    &:hover, &:focus {
      background: #3f8648;
      transition: transform 500ms;
      //font-size: 25px;
      //transform: scale(1.1);
    }

  }
}
a#mint_button:before {
  content: '';
  position: absolute;
  height: 100%;
  aspect-ratio: 1 / 1;
  background-image: url("https://cdn.discordapp.com/attachments/913797588036231168/915736396281577482/gorillahat-removebg-preview-removebg-preview__2_-removebg-preview.png");
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 500ms;

}

a#mint_button:hover:before {

  top: -50%;


}