.textbox_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}
.textbox {
  max-width: 600px;
  margin: auto;
  background-image: url("https://cdn.discordapp.com/attachments/913686029276418049/914281697338601512/ui.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  //aspect-ratio: 1 / 0.2;
  padding: 80px;
  margin: -50px -50px 0 -50px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.textbox_content {
  padding: 0 9% 7% 9%;
  margin: 20px 5px 20px 5px;
  color:  white;
  font-family: chevy-vector;
  font-size: 19px;

}

@media only screen and (max-width: 800px) {
  .textbox {
    padding: 70px 50px 100px 50px;
    margin: -50px -30px 0 -30px;
  }
  .textbox_content {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .textbox {
    padding: 70px 50px 100px 50px;
    margin: -50px -20px 0 -20px;
  }
  .textbox_content {
    font-size: 16px;

    padding: 0 5% 7% 5%;
    margin: 20px 5px 20px 5px;
  }
}