@import 'background';
@font-face { font-family: chevy-vector;
    src: url('/fonts/ChevyRay_-_Vector.ttf')};
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
