<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "background.html" . -}}
        <div class="page-container">

            {{if .Params.home}}
                {{partial "homeheader"}}
            {{else}}
                {{partial "header"}}
            {{end}}

            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
        <script>
            AOS.init();
        </script>
        <script src="/js/scrollheight.js"></script>
    </body>
</html>
