<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "background.html" . -}}
{{partial "errormessage"}}


<script src="https://cdn.ethers.io/lib/ethers-5.1.umd.min.js" type="text/javascript"> </script>
<script>
    const shortAddress = (address) => {
        return address.substr(0, 6) + "..." + address.substr(38, 4);
    };

    const whitelist = {
        "0x2e5cd1c99c10fbf4bc1cf60d8820696e73e94f52":"0x9196030c975885c08a14fbd97cd39d15c70dc4e150e800609fe5dcf8554a48906c0d895aa7b9d3300dc34823a895815f995f3e3fbb1eaae46dc1361c7fe25fbb1b"
    };

    var provider = new ethers.providers.Web3Provider(window.ethereum);

    const abi = [
        "function presale(uint256 amount, bytes memory signature) public payable",
        "function totalSupply() view returns (uint256)"
    ];

    var contract;

    if(window.ethereum.selectedAddress) {
        document.getElementById("connect-button").innerText = shortAddress(window.ethereum.selectedAddress)
    }

    // var currentAddress = window.ethereum.selectedAddress || "";
    //

    window.ethereum.on('connect', (_) => {
        provider.listAccounts().then(accounts => {
            document.getElementById("connect-button").innerText = shortAddress(accounts[0]);
        });

        contract =  new ethers.Contract("0x3A47d0656194e9f7cfF9D0146E8F1041C0eaE20b", abi, provider).connect(provider.getSigner())
        getTotalSupply();
    });

    window.ethereum.on('accountsChanged', (accounts) => {
        provider.listAccounts().then(accounts => {
            if(accounts.length == 0) {
                document.getElementById("connect-button").innerText = "Connect your wallet";
            } else {
                document.getElementById("connect-button").innerText = shortAddress(window.ethereum.selectedAddress)
            }
        });
        getTotalSupply();
    });

    const getTotalSupply = () => {
        contract.totalSupply().then(value => {
            document.getElementById("mint-count").innerText = value.toString();
        })
    }

    const handleConnectWallet = () => {
        window.ethereum.request({ method: 'eth_requestAccounts' });
    }

    const callMint = () => {
        if(!window.ethereum.selectedAddress) alert("Please connect your wallet first!");
        var mintCount = document.getElementById("number").value;
        contract.presale(
            mintCount,
            whitelist[window.ethereum.selectedAddress.toLowerCase()],
            {value: ethers.utils.parseEther(mintCount === 1 ? '0.05' : '0.10')}
        ).catch(error => {
            var alertMessage = "";
            switch(error.code) {
                case 4001:
                    alertMessage = "You have rejected the transaction in your wallet!";
                    break;
                case 'UNPREDICTABLE_GAS_LIMIT':
                    alertMessage = "You are either not on the whitelist, or are trying to mint too many CyberGorillas. Contact us if this is a mistake.";
                    break;
                default:
                    alertMessage = "You are either not on the whitelist, or are trying to mint too many CyberGorillas. Contact us if this is a mistake.";
                    break;
            }
            alert(alertMessage)
        });
    }

    AOS.init();
</script>
<div id="mint_page_container">
        <div class="minting_container">
            <div class="mint-heading_container">
                <div class="mint_heading">
                    <strong>CyberGorillas Mint</strong>
                    <br>
                    <span id="mint-count">0</span>/3333
                </div>
            </div>
            <button id='connect-button' class="connect-button" onclick="handleConnectWallet()">
                Connect your wallet
            </button>

            <div class="mint_image_amount_container">

                <div class="mint_image_container">
                    <div class="slideshow-container">
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/916830090330001428/blue.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/916830028950544445/Collaboration.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/916832325839519775/Browning_PFP.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/916830680284033024/1O1_-_Second.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/916738285378867230/1O1_-_First.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://media.discordapp.net/attachments/916013862204092508/920814252225331271/Tesla_cybertruck.gif">
                        </div>

                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508861549084672/4.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508861175816212/3.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508860878000138/2.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508860622176306/1.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508860269821952/sneakpeaks-nerd.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508859783286905/sneakpeaks-diamond.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508859426795630/sneakpeaks-communist.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508858885726238/sneakpeaks-beret.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508856390094948/sneakpeaks-astronaut.png">
                        </div>
                        <div class="mySlides">
                            <img src="https://cdn.discordapp.com/attachments/916103736768733204/921508856008437810/sneakpeaks-Wallstreet_guy.png">
                        </div>
                        <div class="team_item_frame">
                            <img src="https://cdn.discordapp.com/attachments/913686029276418049/916751090207309914/picture_frame.gif" alt="">
                        </div>
                    </div>


                    <script>
                        var slideIndex = 0;
                        showSlides();

                        function showSlides() {
                            var i;
                            var slides = document.getElementsByClassName("mySlides");
                            for (i = 0; i < slides.length; i++) {
                                slides[i].style.display = "none";
                            }
                            slideIndex++;
                            if (slideIndex > slides.length) {slideIndex = 1}
                            slides[slideIndex-1].style.display = "block";
                            setTimeout(showSlides, 1200); // Change image every 1.2 seconds
                        }
                    </script>
                </div>

                <div class="amount_container">
                    <input type="number" value="1" id="number" min="1" max="5" oninput="changeRangeValue(this)"/>
                    <div class="slider_container">
                        <input type="range" min="1" max="5" id="range" name="amount" value="0" oninput="changeInputValue(this)" />
                        <div class="min">1</div>
                        <div class="max">5</div>
                    </div>
                </div>
                <script>
                    function validateMintNum(val) {
                        if (val == "") {
                            console.log(val)
                        }
                        if ((val <= 5) && (val >= 1))  {
                            return val
                        } else if (val > 5) {
                            return 5
                        } else if (val < 1) {
                            return 1
                        }

                    }
                    function changeRangeValue(val){
                        val = val.value
                        if (val == "") {
                            return
                        }

                        val = validateMintNum(val)
                        document.getElementById("range").value = isNaN(parseInt(val, 10)) ? 0 : parseInt(val, 10);
                        document.getElementById("number").value = isNaN(parseInt(val, 10)) ? 0 : parseInt(val, 10);
                    }


                    function changeInputValue(val){
                        val = val.value
                        if (val == "") {
                            return
                        }
                        val = validateMintNum(val)
                        document.getElementById("number").value = isNaN(parseInt(val, 10)) ? 0 : parseInt(val, 10);
                        document.getElementById("range").value = isNaN(parseInt(val, 10)) ? 0 : parseInt(val, 10);
                    }


                </script>


            </div>
            <div class="mint_submit_container">
                <div class="mint_submit_button" onclick="callMint()">
                    Mint!
                </div>
            </div>

        </div>

</div>
</body>
</html>
