{{define "main"}}
<div class="bg-container">
    <div id="bg_colour"></div>
    <div id="background_cityscape"></div>
    <div id="mid_trees"></div>
    <div id="mid_robots"></div>
    <div id="foreground"></div>

    <div id="godrays"></div>
    <div id="foreground_robot"></div>
</div>
<div class="textbox-container">
    <img src="https://www.cyberkongz.com/static/logo_with_glow.png" alt="">
    <div class="textbox">
        *not* just another NFT project
    </div>
</div>



<div class="info-container" >
    <div class="infobox" data-aos="fade-right">
        <div class="infobox-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores dolorem et exercitationem
        </div>
    </div>
    <div class="infobox" data-aos="fade-left">
        <div class="infobox-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque aut, deserunt dolore
        </div>
    </div>
    <div class="infobox" data-aos="fade-left">
        <div class="infobox-text">
            some test text
        </div>
        <div class="infobox-image">
            <img src="https://cdn.discordapp.com/attachments/913777052061167616/913785920346550302/gorillabase.png" alt="">
        </div>
    </div>
    <div class="infobox" data-aos="fade-left">
        <div class="infobox-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque aut, deserunt dolore
        </div>
    </div>

</div>
<div class="roadmap" data-aos="fade-up">
    <div data-aos="fade-left" class="roadmap-entry done">Make website</div>
    <div data-aos="fade-up" class="roadmap-entry done">Make contracts</div>
    <div data-aos="fade-up" class="roadmap-entry">Profit</div>
</div>

<script>
    function getScrollPercent() {
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';
        return (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
    }
    document.addEventListener('scroll', function() {
        cityscape = document.getElementById("background_cityscape")
        trees = document.getElementById("mid_trees")
        robots = document.getElementById("mid_robots")
        godrays = document.getElementById("godrays")
        height = getScrollPercent() * 1
        cityscape.style.bottom = height + "px"
        trees.style.bottom = height / 2  + "px"
        robots.style.bottom = height / 2  + "px"
        godrays.style.bottom = height / 2  + "px"
    });
</script>
{{end}}