{{define "main"}}
<div class="bg-container">
    <img src="https://cdn.discordapp.com/attachments/913686029276418049/913878805557424128/unknown.png" alt="">
</div>
<div class="textbox-container">
    <div class="textbox">
        Hey, This is a just an animation example
    </div>
</div>



<div class="info-container" >
    <div class="infobox" data-aos="fade-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores dolorem et exercitationem, illum in inventore itaque laboriosam libero nam neque, quia quibusdam repellendus repudiandae, rerum voluptate? Maxime, velit.</div>
    <div class="infobox" data-aos="fade-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque aut, deserunt dolore, ea eligendi facere facilis laborum laudantium minus modi nemo neque nisi nostrum similique suscipit totam voluptate voluptates.</div>
    <div class="infobox" data-aos="fade-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci aliquam asperiores cum doloribus eius enim fugit hic iure libero minus quod, quos recusandae repellat sapiente sint velit vero!</div>
    <div class="infobox" data-aos="fade-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores et ex expedita harum ipsum labore modi odit, placeat quidem quisquam quod ratione suscipit velit veniam vero voluptas voluptates voluptatibus voluptatum.</div>
    <div class="infobox" data-aos="fade-right" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at ipsam magni non tenetur. Ab animi cupiditate dignissimos dolorem ducimus eligendi, inventore laborum magnam modi, nemo quas quo similique voluptate.</div>
</div>
<div class="roadmap" data-aos="fade-up">
    <div class="roadmap-entry">Make website</div>
    <div class="roadmap-entry">Make contracts</div>
    <div class="roadmap-entry">profit</div>
</div>
{{end}}