<footer>

    
    <nav>
        <div class="footerimg">
            <img src="https://cdn.discordapp.com/attachments/913686029276418049/915359799116431380/greymatrixtransparent.gif" alt="">
        </div>

        <p>All Rights Reserved 2021</p>
        <div class="socials">
            <a href="https://twitter.com/Cyber_Gorillas/status/1467599692779470854"  target="_blank">
            <div class="discord">
                <img src="/img/logos/Discord-logo.svg" alt="">
            </div>
            </a>

            <a href="https://twitter.com/Cyber_Gorillas"  target="_blank">
            <div class="twitter">
                <img src="/img/logos/Twitter-logo.svg" alt="">
            </div>
            </a>
        </div>

    </nav>
</footer>