<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/rno0vzj.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.collapsible/1.2/jquery.collapsible.min.js" integrity="sha512-6/NRLLjewskQ+AFTjfXtbiUSMBgB7OqCgIznihfMQ5SCKXc41jVSJeT7gULomFpINltAHqsTRN54475YUXZ7DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/913686029276418049/916766543340269680/unknown.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The CyberGorillas is a collection of 3333 randomly generated Cyber-themed Gorillas, featuring 333 Genesis CyberGorillas amongst them. Having been forged amongst an Industrial Smog and dumped into a Dystopian Jungle on the Blockchain, they possess scalable utility and deflationary mechanics. This may be your only chance to get your hands on them.">

</head>