<header>
    <nav>
        <div class="socials">
            <a href="https://twitter.com/Cyber_Gorillas/status/1467221429624135688"  target="_blank">
                <div class="discord">
                    <img src="/img/logos/Discord-logo.svg" alt="">
                </div>
            </a>

            <a href="https://twitter.com/Cyber_Gorillas"  target="_blank">
                <div class="twitter" >
                    <img src="/img/logos/Twitter-logo.svg" alt="">
                </div>
            </a>
        </div>
    </nav>
</header>