header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  nav {
    width: 100%;
    padding: 15px 0;
    //background: yellow;
    display: flex;
    max-width: 150px;
    margin: 0 20% 0 auto;
    justify-content: space-between;
    img {
      height: 40px;
    }
  }
}