.roadmap_container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  max-width: 800px;
  margin: 25px auto 75px auto;
  padding: 40px;
  border-radius: 14px;
  background-color: rgba(10, 17, 21, 0.8);
}
.roadmap_image {
  grid-column: 1;
  max-width: 500px;
  img {
    width: 100%;
  }
}


.roadmap_info_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.roadmap_info {
  grid-column: 2;
  color: white;
  font-family: chevy-vector;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}

.roadmap_info_title {
  font-family: tachyon, serif;

  font-weight: 400;

  font-style: normal;
  font-size: 28px;
}
@media only screen and (max-width: 800px) {
  .roadmap_container {
    padding: 20px 0 30px 0;
    margin-bottom: 200px;
  }
  .roadmap_info {
    font-size: 15px;
    max-width: unset;
    margin: 0 20px 0 20px;
  }
  .roadmap_info_container {
    gap: 15px;
    grid-column: span 1 / 3;
  }
  .roadmap_image {
    position: absolute;
    max-width: 300px;
    right: 0;
    opacity: 30%;
    img {
      width: 100%;
    }
  }
  .roadmap_info_title {
    text-align: center;
  }
}
#devroadmap {
  .roadmap_info_container {
    gap: 20px
  }
}