* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
@keyframes BgScroll {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
.bg-container {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
}
.bg-container img {
    height: 100%;
    position: absolute;
    animation-timing-function: linear;
    left: 0px;
    animation-duration: 40s;
    animation-name: BgScroll;
    animation-iteration-count: infinite;
}
.textbox-container {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    font-family: tachyon, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.textbox {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: hydrophilia-iced, sans-serif;

    font-weight: 400;

    font-style: normal;
}
.arrowdown {
    max-width: 300px;
    transform: rotate(90deg);
    filter: hue-rotate(100deg);
}
.textbox-container a{
    padding: 30px;
    font-size: 30px;
    background-color: darkgreen;
    font-family: hydrophilia-iced, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.textbox-container a:link,a:visited {
    color: white;
    text-decoration: none;
}

.info-container {
    display:flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    /*align-items: center;*/
    margin: auto;
}
.info-container .infobox:nth-child(even){
    align-self: end;
    background: pink;
}
.infobox {
    padding: 20px;
    max-width: 400px;
    background-color: white;
    font-family: Montserrat;
}

.roadmap {
    margin-top: 100px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.roadmap-entry {
    min-width: 300px;
    max-width: 600px;
    border-radius: 20px;
    background-color: pink;
    padding: 50px 30px 50px 30px;
    position: relative;
    margin-right: 60px;
}
.roadmap-entry:after {
    z-index: 2;
    content: '';
    height: 60px;
    width: 60px;
    border-radius: 30px;

    background: radial-gradient(circle at 20px 20px, #333333, #000);
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.roadmap-entry.done:after {
    background: radial-gradient(circle at 20px 20px, #3e6c37, #000);
}
.roadmap-entry:first-child:before {
    content: '';
    width: 0;
}


.roadmap-entry:before {
    content: '';
    position: absolute;
    height: 110px;
    width: 15px;
    background: linear-gradient(to right, black, #333333FF, black);
    right: 0;
    top: -75px;
}
.roadmap-entry.done:before {
    background: linear-gradient(to right, black, #3e6c37, black);
}