@import 'background';
@import 'logo';
@import 'textbox';
@import 'footer';
@import 'header';
@import 'roadmap';
@import 'utilitycard';
@import 'team';
@import 'faq';
@font-face { font-family: chevy-vector;
    src: url('/fonts/ChevyRay_-_Vector.ttf')};
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#content {
    margin-top: 100px;
    padding-bottom: 100px;
}
.page-container {
    width: 100%;
    position: relative;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 18px;
    height: 18px;
    transition: 500ms;
}
::-webkit-scrollbar-thumb{
    background: #409C50;
    //border: 0.8px solid #525252;
    border-radius: 4px;
    cursor: pointer;

}
::-webkit-scrollbar-thumb:hover{
    background: #3bd252;

}
::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #8f7d5d;
}
.heading {
    margin: auto;
    max-width: 700px;

    img {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        width: 100%;
        margin: auto;
    }
}

#faq {
    //mix-blend-mode: multiply;
    filter: invert(1);
    max-width: 500px;
    img {
        image-rendering: crisp-edges;
        width: 100%;
        margin: auto;
    }
}