.textbox_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
.textbox {
  position: relative;
  max-width: 1000px;
  margin: auto;
}
.textbox_background {
  img {
    width: 100%;
  }

}

.textbox_content {
  position: absolute;
  top: 20%;
  left: 20%;
  margin-right: 20%;
  color:  white;
  font-family: chevy-vector;
  font-size: 19px;

}

@media only screen and (max-width: 800px) {
  .textbox {
    margin-bottom: 50%;
  }
  .textbox_background {
    margin-left: -5%;
    margin-right: -5%;
    transform: scaleY(1.5) ;
    transform-origin: top;

    img {
      width: 100%;
    }
  }
  .textbox_content {
    top: 18%;
    left: 15%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .textbox_content {

    font-size: 16px;
  }
}