.utility_container {
  display: flex;
  max-width: 1500px;
  flex-wrap: wrap;
  gap: 50px;

  margin-top: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.utility_item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  max-width: 400px;
}
.utility_item_image {
  width: 100%;
  img {
    width: 100%;
  }
}
.utility_item_content {
  color: white;
  font-size: 28px;
  font-family: cinder, sans-serif;

  font-weight: 400;

  font-style: normal;
  width: 100%;
  text-align: center;
}