.utility_container {
  display: flex;
  max-width: 1500px;
  flex-wrap: wrap;
  gap: 50px;

  margin-top: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

}
.utility_item {
  position: relative;
  max-width: 400px;

}
.utility_item_image {
  max-width: 400px;
  img {
    width: 100%;
  }
}
.utility_item_content {
  color: white;
  font-size: 20px;
  font-family: tachyon, sans-serif;

  position: absolute;
  top: 58%;
  margin: 0 12% 0 14%;
}

@media only screen and (max-width: 800px) {
  .utility_item_content {
    font-size: 16px;
  }

}